html,
body {
    height: 100%;
}

html {
    background: #018841;
    background-image: url(img/coins.png);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
}

body {
    zoom: 2;
}

* {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

.ray {
    pointer-events: none;
    position: fixed;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    z-index: 0;
    top: 0;
}

/* COLOR */
.white-txt {
    color: #ffffff;
}

.white-bg {
    background: #ffffff;
}

.black-txt {
    color: #000000;
}

.black-bg {
    background: #000000;
}

.green-txt {
    color: #018841;
}

.green-bg {
    background: #018841;
}

.beige-txt {
    color: #f8f0d5;
}

.beige-bg {
    background: #f8f0d5;
}

.yellow-txt {
    color: #f5d315;
}

.yellow-bg {
    background: #f5d315;
}

.red-txt {
    color: #b20202;
}

.red-bg {
    background: #b20202;
}

/* DISPLAY */
.display-flex {
    display: flex !important;
}

.display-none {
    display: none !important;
}

/* ALIGN */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* WEIGHT */
.font-weight-lighter {
    font-weight: lighter;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: bold;
}

/* ROTATE */
.rotate {
    transform: rotate(-1deg);
}

/* SHADOW */
.shadow-text {
    text-shadow: 2px 2px rgb(0 0 0 / 25%);
}

/* COIN */
.coin {
    position: absolute;
}

/* BUTTON */
button {
    outline: none;
    border: none;
    padding: 0;
}

button.button {
    cursor: pointer;
}

.button {
    box-shadow: 1px 1px 0 0 rgb(0 0 0 / 25%);
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 10px;
}

select {
    box-shadow: 2px 2px 0 0 rgb(0 0 0 / 25%);
    border: none;
    border-radius: 100px;
    outline: none;
    width: calc(50% + 20px);
    padding: 0 5px;
    background: #f8f0d5;
    height: 22px;
}

/* MAIN */
main {
    height: 100%;
}

/* HEADER */
header {
    justify-content: space-between;
    height: calc(100% - 50px);
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 25px 0;
    display: flex;
    z-index: 1;
}

header h1 {
    line-height: 30px;
}

header h5 span {
    margin-right: 1px;
    font-size: 18px;
    position: relative;
    top: 1px;
}

section {
    justify-content: space-between;
    height: calc(100% - 50px);
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 25px 0;
    display: flex;
    width: 100%;
    z-index: 1;
}

section div {
    align-items: center;
    display: flex;
}

section span {
    box-shadow: 2px 2px 0 0 rgb(0 0 0 / 25%);
    margin-right: 5px;
    display: flex;
    height: 15px;
    width: 15px;
}

section#card {
    justify-content: center;
    position: relative;
}

section#card .shop-card,
section#card button {
    background: transparent;
    position: absolute;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    right: 10px;
    top: 10px;
}

section#card .shop-card {
    text-decoration: none;
    right: auto;
    left: 10px;
}

section#card .shop-card em,
section#card button em {
    font-size: 18px;
}

section #grupo-numeros {
    box-shadow: 2px 2px 0 0 rgb(0 0 0 / 25%);
    flex-direction: column;
    background: #f8f0d5;
    border-radius: 10px;
    padding: 20px 10px;
    display: flex;
}

section #grupo-numeros div {
    justify-content: center;
    font-size: 18px;
    width: 50px;
}

.group-number-wrap {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.group-number-wrap h1 {
    box-shadow: 2px 2px 0 0 rgb(0 0 0 / 25%);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    height: 40px;
    width: 50px;
}

.group-number-wrap h6 {
    margin-top: 10px;
}

.group-number-wrap div {
    flex-direction: column;
    display: flex;
}

.group-number-wrap div a {
    font-size: 12px;
    margin-top: 10px;
}

/* TABLE */
table {
    border-collapse: collapse;
}

table tr {
    margin-bottom: -1px;
    display: flex;
}

table td {
    margin-right: -1px;
    text-align: center;
    border: 1px solid;
    display: flex;
    padding: 0;
}

table a {
    justify-content: center;
    background: #f8f0d5;
    text-decoration: none;
    align-items: center;
    color: #000000;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    height: 22px;
    width: 22px;
}

table a:not(.payment):not(.must):hover {
    opacity: .9;
}

table a.payment {
    background: #018841;
    color: #f8f0d5;
}

table a.must {
    background: #b20202;
    color: #f8f0d5;
}

/* ADMIN */
.admin {
    height: auto;
}
.admin > a {
    position: fixed;
    left: 10px;
    top: 10px;
}

.admin > a em {
    font-size: 18px;
}

.payment-row {
    background-color: #018841;
}
.payment-row * {
    border-color: #000000 !important;
    color: #f8f0d5;
}

.must-row {
    background-color: #b20202;
}
.must-row * {
    border-color: #000000 !important;
    color: #f8f0d5;
}
    
form {
    margin-bottom: 20px;
}
form h2 {
    margin-bottom: 25px;
    align-items: center;
    display: flex;
}
form h2 * {
    box-shadow: 2px 2px 0 0 rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 5px;
}

form > div {
    flex-direction: column;
    align-items: end;
}
form div > div {
    justify-content: center;
    margin-bottom: 5px;
    padding: 0 5%;
    width: 100%;
}
form label {
    margin-right: 5px;
    text-align: right;
    width: 50%;
}
form input {
    box-shadow: 2px 2px 0 0 rgb(0 0 0 / 25%);
    background: #f8f0d5;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    height: 22px;
    width: 50%;
    border: 0;
}
form button {
    box-shadow: 2px 2px 0 0 rgb(0 0 0 / 25%);
    background: #f5d315;
    padding-bottom: 2px;
    border-radius: 10px;
    cursor: pointer;
    height: 22px;
    width: 120px;
}

form + table tbody {
    background: #f8f0d5;
}
form + table th {
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-bottom: none;
    display: flex;
}
form + table th + th {
    margin-left: -1px;
}
form + table th,
form + table td {
    align-items: center;
    font-size: 10px;
    padding: 0 5px;
    width: 65px;
}
form + table td p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
form + table th:nth-child(3),
form + table td:nth-child(3) {
    width: 55px;
}
form + table th:first-child,
form + table td:first-child,
form + table th:last-child,
form + table td:last-child {
    justify-content: center;
    height: 22px;
    width: 22px;
    padding: 0;
}
form + table td:nth-child(4) {
    justify-content: center;
}
form + table a {
    display: flex !important;
    justify-content: center;
    background: transparent;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 0;
}
form + table a span {
    font-size: 12px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.reset {
  margin-top: 26px;
  display: flex;
}

.reset em {
    font-size: 18px;
    box-shadow: none;
    display: flex;
    margin-left: 7px;
}

/* MOBILE */
@media (max-width: 991px) {
    body {
        zoom: 1.5;
    }
}
@media (max-width: 768px) {
    body {
        zoom: 1;
    }
    h1 {
        line-height: 13vw !important;
        font-size: 13.5vw;
    }
    h2 {
        font-size: 10vw;
    }
    h3 {
        font-size: 7.75vw;
    }
    h4 {
        font-size: 6.5vw;
    }
    h5 {
        font-size: 5.55vw;
    }
    h6 {
        font-size: 4.5vw;
    }
    .button {
        box-shadow: 1vw 1vw 0 0 rgb(0 0 0 / 25%);
        border-radius: 4vw;
        font-size: 6.75vw;
        padding: 2vw 4vw;
    }
    .shadow-text {
        text-shadow: 1vw 1vw rgb(0 0 0 / 25%);
    }
    section#card .shop-card,
    section#card button {
        right: 4vw;
        top: 4vw;
    }
    section#card .shop-card {
        left: 4vw;
    }
    section#card .shop-card em,
    section#card button em {
        font-size: 8vw;
    }
    section #grupo-numeros {
        padding: 8vw 4vw;

    }
    section #grupo-numeros div {
        font-size: 7.5vw;
        width: 21vw;
    }
    section span {
        box-shadow: 1vw 1vw 0 0 rgb(0 0 0 / 25%);
    }
    section,
    header {
        height: calc(100% - 20vw);
        padding: 10vw 0;
    }
    header a {
        font-size: 4.5vw;
    }
    header h5 span {
        font-size: 7.5vw;
    }
    /* table td,
    table th {
        border-width: 0.5vw !important;
    } */
    table a,
    section span {
        font-size: 4.25vw;
        height: 8vw;
        width: 8vw;
    }
    .group-number-wrap {
        width: 50vw;
    }
    .group-number-wrap h1 {
        padding: 2.5vw;
        width: auto;
    }
    .group-number-wrap h6 {
        margin-top: 12vw;
    }
    .group-number-wrap div a,
    .reset {
        font-size: 5vw;
    }
    .reset em {
        font-size: 6.5vw;
    }
    .admin > a {
        left: 4vw;
        top: 4vw;
    }
    .admin > a em {
        font-size: 8vw;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form h2 p {
        text-shadow: 1vw 1vw rgb(0 0 0 / 15%);
    }
    form input,
    form label {
        border-radius: 3vw;
        font-size: 5.5vw;
        height: 9vw;
        width: 40vw;
    }
    form select,
    form button {
        border-radius: 3vw;
        width: 45.555555vw;
        font-size: 5.5vw;
        height: 9vw;
    }
    form + table th,
    form + table td {
        font-size: 4.25vw;
        width: 25vw;
    }
    form + table th:nth-child(3),
    form + table td:nth-child(3) {
        width: 25vw;
    }
    form + table th:first-child,
    form + table td:first-child,
    form + table th:last-child,
    form + table td:last-child {
        height: 8vw;
        width: 8vw;
    }
    form + table a span {
        font-size: 5vw !important;
    }
}
